/* Fonts
font-family: 'Creepster', cursive;
font-family: 'Henny Penny', cursive;
font-family: 'Griffy', cursive;

Colour palette:
F6F1EF - off white
A89B8A - greyish
DA4505 - orange
9F8656 - Tan
17161A- Black
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #17161A;
    font-family: 'Creepster', cursive;
    color: #F6F1EF;
}

body {
    height: 100vh;
    align-content: center;
    background-color: #17161A;
}

/* -----------------------------------------------------------------------------------top section of the page-*/
.board-header {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    padding: 5px 20px;
}

.game-name {
    font-family: 'Creepster', cursive;
    letter-spacing: 3px;
    width: 25%;
    font-size: 60px;
}

.board-header img {
    height: 150px;
    margin: 0;
    padding: 0;
}

.board-header h2 {
    font-family: 'Creepster', cursive;
    font-size: 50px;
    margin: 20px 0px 0px 50px;
}

/* Show Konami clue */
#halloween {
    color: #A89B8A;
    font-size: 12px;
    font-family: 'Griffy', cursive;
    visibility: hidden;
}

#halloween.show {
    visibility: visible;
}

#egg {
    width: 12px;
}

/*-----------------------------------------------------------------------------------------buttons */
.btns {
    letter-spacing: 1.5px;
    padding: 5px 10px;
    font-size: 20px;
    border: 1px solid #F6F1EF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 10px;
}

/*--------------------code provided by Stackoverflow https://stackoverflow.com/questions/17642447/change-bootstrap-tooltip-color --*/
.tooltip>.tooltip-inner {
    background-color: #9F8656;
    font-size: 20px;
    width: 200px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    font-weight: 900;
    color: #17161A;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    border: #F6F1EF 5px solid;
    box-shadow: 17px 16px 26px -8px rgba(23, 22, 26, 1);
    -webkit-box-shadow: 17px 16px 26px -8px rgba(23, 22, 26, 1);
    -moz-box-shadow: 17px 16px 26px -8px rgba(23, 22, 26, 1);

}

.tooltip.show {
    opacity: 1;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
}

/* code provided by Stackoverflow https://stackoverflow.com/questions/17642447/change-bootstrap-tooltip-color--*/
.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #F6F1EF;
}

#sound {
    display: flex;
}

#sound span {
    margin-left: 10px;
}

/*-------------------------------------------------------------------------------------------Game info */


.box {
    font-size: 25px;
    letter-spacing: 1.5px;
    display: inline-flex;
    padding: 0;
}

.change-level {
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

}

.change-level:hover,
.change-level:focus {
    padding: 5px;
    font-size: 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 5px solid #DA4505;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.dropdown-content {
    position: absolute;
    z-index: 2;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.dropdown-content a {
    color: #F6F1EF;
    background-color: #9F8656;
    padding: 12px 16px;
    text-decoration: none;
    display: none;
    text-align: center;
    min-width: 150px;
    border: 3px solid #17161A;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 17px 16px 26px -8px rgba(168, 155, 138, 1);
    -webkit-box-shadow: 17px 16px 26px -8px rgba(168, 155, 138, 1);
    -moz-box-shadow: 17px 16px 26px -8px rgba(168, 155, 138, 1);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.dropdown-content a:hover {
    background-color: #DA4505;
}

.dropdown-content a.show {
    display: block;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#minutes,
#seconds {
    margin-top: -2px;
}

#minutes {
    margin-left: 5px;
}

/* ------------------------------------------------------------Game board -----------------------------------
copied and adjusted to suit purpose fom Code sketch https://www.youtube.com/watch?v=eMhiMsEC9Uk&list=PLLX1I3KXZ-YH-woTgiCfONMya39-Ty8qw-------------------------------*/
.game {
    height: 640px;
    width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #9F8656;
}

.game-card {
    width: calc(25% - 10px);
    height: calc(33% - 10px);
    margin: 5px;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.game-card:active {
    transform: scale(1.2);
    transition: transform 0.2s;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    padding: 0px;
    border: 8px solid #17161A;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 17px 16px 26px -8px rgba(23, 22, 26, 1);
    -webkit-box-shadow: 17px 16px 26px -8px rgba(23, 22, 26, 1);
    -moz-box-shadow: 17px 16px 26px -8px rgba(23, 22, 26, 1);
    position: absolute;
    background: #DA4505;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.game-card.flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.card-front {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}



/*-------------------------------------------------------------------------------------------Modal Success--------------*/
.modal-dialog {
    position: relative;
    top: 40%;
}

.inner-view {
    align-content: center;
    background-color: #A89B8A;
    background-image: url('https://res.cloudinary.com/dgsqmdssi/image/upload/v1570288912/Hallowed-Hunt/bats_kw2cig.svg');
    background-size: cover;
    border: 3px solid #DA4505;
    -webkit-box-shadow: 10px 10px 14px 0px rgba(23, 22, 26, 1);
    -moz-box-shadow: 10px 10px 14px 0px rgba(23, 22, 26, 1);
    box-shadow: 10px 10px 14px 0px rgba(23, 22, 26, 1);
}

.successful-game,
button.close span {
    background-color: transparent;
}

.scs-hdr {
    background-color: transparent;
    border: none;
}

.modal-btns {
    background-color: transparent;
    display: block;
    border: none;
}

.btn-cntrl {
    background-color: transparent;
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

.mod-btn {
    background-color: #DA4505;
    width: 200px;
    padding: 5px 10px;
    color: #17161A;
    border: #17161A 2px solid;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-box-shadow: 10px 10px 14px 0px rgba(23, 22, 26, 1);
    -moz-box-shadow: 10px 10px 14px 0px rgba(23, 22, 26, 1);
    box-shadow: 10px 10px 14px 0px rgba(23, 22, 26, 1);
    text-shadow: 1px 1px#9F8656;
}

/* ----------------------------------------------------------------------------------Modal Intro--------*/

.mdl-intr-hdr {
    border: none;
    background-color: transparent;
}

.outer-welcome {
    position: relative;
    top: 10%;
}

.inner-welcome {
    border: 5px solid #DA4505;
    background-color: #17161A;
    background-image: url('https://res.cloudinary.com/dgsqmdssi/image/upload/v1570288912/Hallowed-Hunt/front_page_zyu3tn.svg');
    background-size: cover;
    height: 700px;
}

.game-nav {
    display: block;
    background-color: transparent;
}

.nav-ctrl {
    background-color: transparent;
    text-align: center;
    margin: 20px;
}

.open-btn {
    background-color: #DA4505;
    width: 200px;
    padding: 5px 10px;
    color: #17161A;
    border: none;
    text-shadow: 2px 2px#9F8656;
    -webkit-box-shadow: 9px 6px 14px 0px rgba(159, 134, 86, 1);
    -moz-box-shadow: 9px 6px 14px 0px rgba(159, 134, 86, 1);
    box-shadow: 9px 6px 14px 0px rgba(159, 134, 86, 1);
}

.btn-box {
    background-color: transparent;

}

.btn-box a {
    font-size: 40px;
    padding: 5px 20px;
    text-decoration: none;
    background-color: #DA4505;
    text-decoration: none;
    width: 200px;
}

.btn-box a:hover {
    color: #9F8656;
    text-shadow: 2px 2px #17161A;
}

/*------------------------------------------------------------------------------------Easter Egg/Konami Code-------*/
.easteregg {
    box-sizing: border-box;
    position: absolute;
    top: 5%;
    left: 33.3%;
    height: 600px;
    width: 800px;
    background-color: aqua;
    z-index: 5;
    visibility: hidden;
    text-align: center;

}

.easteregg p {
    background-color: aqua;
    font-size: 75px;
}

#dance {
    margin: 25px 0px 0px 25px;
}

.easteregg.show {
    visibility: visible;
}

.easter-close {
    background-color: #17161A;
    padding: 5px;
    border: 2px #DA4505 solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}